h1 {
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #1d2022;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-box {
    background: #8200fb;
    background: -webkit-linear-gradient(left top,#8200fb,#c000ff);
    background: -o-linear-gradient(bottom right,#8200fb,#c000ff);
    background: -moz-linear-gradient(bottom right,#8200fb,#c000ff);
    background: linear-gradient(to bottom right,#8200fb,#c000ff);
    color: #fff;
    padding: 50px 30px;
    border-radius: 4px;
    box-shadow: 0 7px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 transparent;
}

.neumo-button {
    box-shadow: rgb(21, 21, 24) 12px 12px 24px 0px, rgb(36, 37, 41) -12px -12px 24px 0px;
    -webkit-box-shadow: rgb(21, 21, 24) 12px 12px 24px 0px, rgb(36, 37, 41) -12px -12px 24px 0px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
}
.neumo-button:active {
    box-shadow: rgb(21, 21, 24) 12px 12px 24px 0px inset, rgb(36, 37, 41) -12px -12px 24px 0px inset;
    -webkit-box-shadow: rgb(21, 21, 24) 12px 12px 24px 0px inset, rgb(36, 37, 41) -12px -12px 24px 0px inset;
    border-radius: 40px;
    -webkit-border-radius: 40px;
}

.card-image {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.75);
}

.card:hover .image-overlay {
    opacity: 1;
}