{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Paramètres {% endblock %}</h1>
<form role="search" action="{{url_for('.valid_settings')}}" method="post">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Serveur Plex
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Cette catégorie sert à paramétrer le <strong>serveur Plex</strong>


                    <div class="mb-3">
                        <label for="plex_url" class="form-label">URL Plex</label>
                        <input type="text" class="form-control" id="plex_url" name=plex_url
                               value="{{datas['plex_url']}}" required>
                        <small id="plex_url_help" class="form-text text-muted">
                            ATTENTION: La modification erronée de cette valeur peuvent empêcher le bon fonctionnement de MusicLink !
                        </small>
                    </div>

                    <div class="mb-3">
                        <label for="plex_token" class="form-label">Token Plex</label>
                        <input type="text" class="form-control" id="plex_token" name="plex_token"
                               value="{{datas['plex_token']}}" required>
                        <small id="plex_token_help" class="form-text text-muted">
                            ATTENTION: La modification erronée de cette valeur peuvent empêcher le bon fonctionnement de MusicLink !
                            <a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/" target="_blank">Trouver votre Token Plex</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Configuration des volumes
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Cette catégorie sert à faire coïncider les <strong>nom des bibliothèques</strong> du serveur Plex
                    avec les <strong>volumes docker</strong>

                    {% for lib in datas['plex_lib'] %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" value="{{lib}}" aria-label="lib" id="lib_{{lib}}"
                               name="lib_{{lib}}" readonly>
                        <span class="input-group-text">=></span>
                        <input type="text" class="form-control" placeholder="/volume_link" value="{{datas[lib]}}" aria-label="path"
                               id="path_{{lib}}" name="path_{{lib}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Accès aux ressources externes
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Cette catégorie sert à paramétrer les <strong>ressources externes</strong>

                    <div class="mb-3">
                        <label for="discogs_token" class="form-label">Discogs - Token</label>
                        <input type="text" class="form-control" id="discogs_token" name="discogs_token"
                               value="{{datas['discord_token']}}" required>
                        <small id="discogs_token_help" class="form-text text-muted">
                            Requis pour pouvoir effectuer des recherches et des téléchargements.
                            <a href="https://www.discogs.com/fr/settings/developers" target="_blank">Trouver votre Token Discogs</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">
        Enregistrer
    </button>
</form>


{% endblock %}