{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="offset-1 col-10">
            <h2 class="text-light py-3">Récemment ajoutés sur Plex</h2>
            <div class="slider demo">
                {% for album in data %}
                <div class="col">
                    <div class="card bg-dark text-white">
                        <div class="card-image">
                            {% if not album['thumb'] %}
                            <img src="https://web.maison-jo.synology.me/images/No_image_available.png"
                                 class="card-img-top"
                                 alt="Image de l'album" width="140" height="140">
                            {% else %}
                            <img src="{{album['thumb']}}" class="card-img-top" alt="Image de l'album">
                            {% endif %}
                            <div class="image-overlay"></div>
                        </div>
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{album['title']}}</h5>
                            <p class="card-text">{{album['artist']}}</p>
                            <p class="card-text">{{album['year']}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}