{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="bg-light text-light" style="height: 100vh">
    {{token}}
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
        <form>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter plex email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter plex password">
            </div>
            <button type="submit" id="login-plex" class="neumo-button mt-5">
                <img id="plex-logo" src="../static/images/plex-logo.svg" class="w-25">
                <div id="spin" class="spinner-border visually-hidden mt-1" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </form>
    </div>
</div>

<script>
    $('#login-plex').on('click', (e) => {

        $('#spin').removeClass('visually-hidden');

        $.ajax({
          url: "/plex/sign-in",
          type: "POST",
          headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        }).done(function() {
            alert( "success" );
          })
          .fail(function() {
            alert( "error" );
          })
          .always(function() {
            window.location.href = "/";
          });
    });


</script>

{% endblock %}