{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Recherche {% endblock %}</h1>
<div class="container mt-3">
    {% if datas is not defined or datas|length == 0 %}
    <div class="d-flex align-items-center justify-content-center" style="height: 75vh">
        <h5 class="text-white">Aucun résultat</h5>
        <span class="text-light fs-5">{{info}}</span>
        <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    {% else %}
    {% if number < 25 %}
    <div class="d-flex justify-content-center" style="height: 3vh">
        <h5 class="text-white">{{number}} résultats</h5>
    </div>
    {% else %}
    <div class="d-flex justify-content-center" style="height: 3vh">
        <h5 class="text-white">{{number}} résultats. Affiner votre recherche.</h5>
    </div>
    {% endif %}
    {% endif %}

    <div class="row my-5 row-cols-1 row-cols-md-5 g-4">
        {% for data in datas %}
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                {% if not data['thumb'] %}
                <img src="https://web.maison-jo.synology.me/images/No_image_available.png" class="card-img-top"
                     alt="Image de l'artiste" width="200" height="200">
                {% else %}
                <img src="{{data['thumb']}}" class="card-img-top" alt="Image de l'artiste">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{data['title']}}</h5>
                    <p class="card-text">Année: {{data['year']}}</p>
                    <p class="card-text">Pays: {{data['country']}}</p>
                    <p class="card-text">Format: {{data['format'][0]}}</p>
                    <a class="btn btn-outline-primary" href="https://www.discogs.com/fr{{data['uri']}}" target="_blank"
                       role="button">Accéder au Discogs</a>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    {% if data['exist'] %}
                    <div class="alert alert-success d-flex align-items-center justify-content-center" role="alert">
                        <i class="bi bi-check-circle-fill me-2"></i>
                        <div class="text-center">
                            Déjà demandé
                        </div>
                    </div>
                    {% else %}
                    {% if library_name is not none %}
                    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal"
                            data-bs-target="#modal{{data['id']}}">
                        Ajouter sur Plex
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="modal{{data['id']}}" tabindex="-1" aria-labelledby="modalLabel{{data['id']}}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel{{data['id']}}">Sélection de la bibliothèque</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form action="/result/confirmed" method="post">
                                    <div class="modal-body">
                                        Sélectionner la bibliothèque correspondante
                                        {% for library in library_name %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="songStyle"
                                                   id="songStyle-{{library}}" value="{{library}}">
                                            <label class="form-check-label" for="songStyle-{{library}}">
                                                {{library}}
                                            </label>
                                        </div>
                                        {% endfor %}
                                        <input type="hidden" id="title" name="title" value="{{data['title']}}">
                                        <input type="hidden" id="id" name="id" value="{{data['id']}}">
                                        <input type="hidden" id="resource_url" name="resource_url"
                                               value="{{data['resource_url']}}">
                                        <input type="hidden" id="uri" name="uri" value="{{data['uri']}}">
                                        <input type="hidden" id="format" name="format" value="{{data['format'][0]}}">
                                        <input type="hidden" id="genre" name="genre" value="{{data['genre'][0]}}">
                                        <input type="hidden" id="year" name="year" value="{{data['year']}}">
                                        <input type="hidden" id="country" name="country" value="{{data['country']}}">
                                        <input type="hidden" id="master_id" name="master_id"
                                               value="{{data['master_id']}}">
                                        <input type="hidden" id="master_url" name="master_url"
                                               value="{{data['master_url']}}">
                                        <input type="hidden" id="thumb" name="thumb"
                                               value="{{data['thumb']}}">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler
                                        </button>
                                        <button type="submit" class="btn btn-primary">Ajouter sur Plex</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <span class="w-100" tabindex="0" data-toggle="tooltip" title="Aucune bibliothèque Plex configurée">
                        <button type="button" class="btn btn-primary w-100" style="pointer-events: none;" DISABLED>
                            Ajouter sur Plex
                        </button>
                    </span>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--TODO create service -->
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

function getHistory(index) {
    var classList = $(`#overview-${index}`).attr("class").split(/\s+/);
    console.log(classList);
    console.log($.inArray("line-clamp", classList));
    if($.inArray("line-clamp", classList) != -1) {
        $(`#overview-${index}`).removeClass('line-clamp');
        $(`#full-history-${index}`).html("afficher moins");
    } else {
        $(`#overview-${index}`).addClass('line-clamp');
        $(`#full-history-${index}`).html("en savoir plus");
    }
}







</script>
{% endblock %}