{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Résultat de la recherche {% endblock %}</h1>
<p>Nom: {{artist['name']}}</p>
<p>Lien Doscogs: https://www.discogs.com/fr{{artist['uri']}}</p>
<img class="fit-picture"
     src={{artist['cover_image']}}
     alt="Image de l'artiste"
     width="500">
<form action="/confirmedtekno" method="post">
    <input type="hidden" id="artistName" name="artistName" value={{artist['name']}}>
    <input type="submit" value="Ajouter l'artiste">
</form>
{% endblock %}